.card-header {
    background-color: white !important;
    margin-bottom: 20px !important;
    padding: 0 !important;
}

.profile-img {
    text-align: center;
}

.card-header p {
    margin-bottom: 8px !important;
}

.card-header h5 {
    margin-bottom: 0 !important;
}

.new-pro-img {
    display: flex;
    justify-content: center;
}


